/* Navbar styling */

.nav-b{
    position: fixed;
    top: 0; /* Stick it to the top of the viewport */
    left: 0; /* Span the entire width */
    width: 100%;
    z-index: 1;
}

.navbar-collapse{
    flex-grow: 0;
}

.color{
    background-color:  #2b2b2b !important;
}

.text-color{
    color:#dddded !important;
}

.nav-link{
    display: flex;
    justify-content: center;
}


/* Intro styling */



.navbar-toggler{
    color: #dddded;
}

.intro-text {
    position: relative;
    color:#dddded;
    right: -2%; /* Start the text off-screen to the right */
    animation: slide-in 1s ease-in-out; /* Define the animation */
  }

.bg-clr-intro{
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 5px;
    padding: 1em;
}
  
  @keyframes slide-in {
    from { right: -100%; opacity: 0; }
    to { right: 0; opacity: 1; }
  }

.f-fam-h1{
    font-family: 'DM Serif Text', serif;
}

.f-fam-p{
    font-family: 'Space Mono', monospace;
}


.intro-div-content{
    display: flex;
    flex-wrap: wrap;
    background-image: url("/Images/intro_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-holder{
    height: 20em;
    border-radius: 20%;
    box-shadow: 5px 5px 10px black;
}

.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Service-display{
    display: flex;
    justify-content: space-around;
}

.back-color{
background-color: #302f2f38;
}

/* Skills section styling */

.skills{
    display: flex;
    justify-content: center;
}

.img-size-adj{
    width: 200px;
    height:100%;
    object-fit: contain;
}

/* footer */


.footi{
    background-color: rgb(179, 179, 179) !important;
}
.round-corner{
    border-radius: 5px;
}

.flux-art{
    width: 100%;
    display: flex !important; 
    justify-content: center !important;
}